@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-primary-50: #edf5f4;
  --color-primary-100: #d0e6e4;
  --color-primary-200: #a8d1ce;
  --color-primary-300: #78b5b2;
  --color-primary-400: #4d9692;
  --color-primary-500: #317b77;
  --color-primary-600: #266360;
  --color-primary-700: #20514e;
  --color-primary-800: #1b413f;
  --color-primary-900: #102e2c;

  --color-accent: #d4af37;
  /* Gold accent */
}

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1c1917;
  }

  .dark {
    --background: #0c0a09;
    --foreground: #fafaf9;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased scroll-smooth;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-sm dark:bg-black/50 dark:border-white/10;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-600 to-accent;
  }
}